In [1]:
import pandas as pd
from pandas import ExcelFile

# lokasi file
file = "e:\smartphone.xls"
# baca data excel pada sheet "Sheet1"
dataSheet1 = pd.read_excel(file, sheet_name="Sheet1")

In [2]:
# list seluruh Kategori
listKategori = ["Mi", "PO", "Re", "Galaxy-", "GalaxyZ", "Ren", "Fin", "A54", "A74", "Y", "X", "V", "Nova", "Mate", "C2", "8-", "GT"]
# inisialisasi awal per produk
sumXiaomi = {}
sumSamsung = {}
sumOppo = {}
sumVivo = {}
sumHuawei = {}
sumRealme = {}
for kat in listKategori:
    sumXiaomi[kat] = 0
    sumSamsung[kat] = 0
    sumOppo[kat] = 0
    sumVivo[kat] = 0
    sumHuawei[kat] = 0
    sumRealme[kat] = 0

In [3]:
# pencacahan data kategori per produk 
for data in dataSheet1["nama produk"]:
    # ambil kategori dari data kolom nama_produk
    kat = data[7:9] #membaca mulai digit 7 sampai digit 9
    if data[:6] == "Xiaomi": #membaca 6 digit, digit ke 1-6
        sumXiaomi[kat] += 1 #counter bertambah
    kat = data[8:15] #membaca mulai digit 8 sampai digit 15
    if data[:7] == "Samsung": #membaca 7 digit, digit ke 1-7
        sumSamsung[kat] += 1 #counter bertambah
    kat = data[5:8] #membaca mulai digit 5 sampai digit 8
    if data[:4] == "Oppo": #membaca 4 digit, digit ke 1-4 
        sumOppo[kat] += 1 #counter bertambah
    kat = data[5:6] #membaca mulai digit 5 sampai digit 6
    if data[:4] == "Vivo": #membaca 4 digit, digit ke 1-4 
        sumVivo[kat] += 1 #counter bertambah
    kat = data[7:11] #membaca mulai digit 7 sampai digit 11
    if data[:6] == "Huawei": #membaca 6 digit, digit ke 1-6
        sumHuawei[kat] += 1 #counter bertambah
    kat = data[7:9] #membaca mulai digit 7 sampai digit 9
    if data[:6] == "Realme": #membaca 6 digit, digit ke 1-6
        sumRealme[kat] += 1 #counter bertambah

In [4]:
# untuk tampilan output
print("Kategori/Series".ljust(30), end="")

for kat in listKategori:
    print(kat.rjust(10), end="")
print()
print("------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")
print("Xiaomi".ljust(30), end="")
for kat in listKategori:
    print(str(sumXiaomi[kat]).rjust(10), end="")

print()
print("Samsung".ljust(30), end="")
for kat in listKategori:
    print(str(sumSamsung[kat]).rjust(10), end="")
    
print()
print("Oppo".ljust(30), end="")
for kat in listKategori:
    print(str(sumOppo[kat]).rjust(10), end="")
    
print()
print("Vivo".ljust(30), end="")
for kat in listKategori:
    print(str(sumVivo[kat]).rjust(10), end="")
    
print()
print("Huawei".ljust(30), end="")
for kat in listKategori:
    print(str(sumHuawei[kat]).rjust(10), end="")
    
print()
print("Realme".ljust(30), end="")
for kat in listKategori:
    print(str(sumRealme[kat]).rjust(10), end="")

Kategori/Series                       Mi        PO        Re   Galaxy-   GalaxyZ       Ren       Fin       A54       A74         Y         X         V      Nova      Mate        C2        8-        GT
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Xiaomi                                 3         7         5         0         0         0         0         0         0         0         0         0         0         0         0         0         0
Samsung                                0         0         0        14         6         0         0         0         0         0         0         0         0         0         0         0         0
Oppo                                   0         0         0         0         0         7         1         1         1         0         0         0         0         0         0         0         0
Vivo                                   0         0         0         0         0         0         0         0         0         5         1         3         0         0         0         0         0
Huawei                                 0         0         0         0         0         0         0         0         0         0         0         0         1         1         0         0         0
Realme                                 0         0         0         0         0         0         0         0         0         0         0         0         0         0         1         1         1

In [5]:
# list seluruh Kategori
listKategori = ["Galaxy-", "GalaxyZ"]
# inisialisasi awal per produk
sumSamsung = {}
for kat in listKategori:
    sumSamsung[kat] = 0

# pencacahan data kategori per produk 
for data in dataSheet1["nama produk"]:
    # ambil kategori dari data kolom nama_produk
    kat = data[8:15] #membaca mulai digit 8 sampai digit 15
    if data[:7] == "Samsung": #membaca 7 digit, digit ke 1-7
        sumSamsung[kat] += 1
        
# untuk tampilan output
print("Kategori/Series(Galaxy|GalaxyZ)".ljust(35), end="")

for kat in listKategori:
    print(kat.rjust(10), end="")
print()
print("------------------------------------------------------------")
print("Samsung".ljust(35), end="")
for kat in listKategori:
    print(str(sumSamsung[kat]).rjust(8), end="")

Kategori/Series(Galaxy|GalaxyZ)       Galaxy-   GalaxyZ
------------------------------------------------------------
Samsung                                  14       6

In [6]:
# list seluruh Kategori
listKategori = ["Mi", "PO", "Re"]
# inisialisasi awal per produk
sumXiaomi = {}
for kat in listKategori:
    sumXiaomi[kat] = 0

# pencacahan data kategori per produk 
for data in dataSheet1["nama produk"]:
    # ambil kategori dari data kolom nama_produk
    kat = data[7:9] #membaca mulai digit 7 sampai digit 9
    if data[:6] == "Xiaomi": #membaca 6 digit, digit ke 1-6
        sumXiaomi[kat] += 1
        
# untuk tampilan output
print("Kategori/Series(Mi|POCO|Redmi)".ljust(40), end="")

for kat in listKategori:
    print(kat.rjust(10), end="")
print()
print("-----------------------------------------------------------------------")
print("Xiaomi".ljust(40), end="")
for kat in listKategori:
    print(str(sumXiaomi[kat]).rjust(10), end="")

Kategori/Series(Mi|POCO|Redmi)                  Mi        PO        Re
-----------------------------------------------------------------------
Xiaomi                                           3         7         5

In [7]:
# list seluruh Kategori
listKategori = ["Ren", "Fin", "A54", "A74"]
# inisialisasi awal per produk
sumOppo = {}
for kat in listKategori:
    sumOppo[kat] = 0

# pencacahan data kategori per produk 
for data in dataSheet1["nama produk"]:
    # ambil kategori dari data kolom nama_produk
    kat = data[5:8] #membaca mulai digit 5 sampai digit 8
    if data[:4] == "Oppo": #membaca 4 digit, digit ke 1-4
        sumOppo[kat] += 1
        
# untuk tampilan output
print("Kategori/Series(Reno|Find|A54|A74)".ljust(40), end="")

for kat in listKategori:
    print(kat.rjust(10), end="")
print()
print("----------------------------------------------------------------------------------")
print("Oppo".ljust(40), end="")
for kat in listKategori:
    print(str(sumOppo[kat]).rjust(10), end="")

Kategori/Series(Reno|Find|A54|A74)             Ren       Fin       A54       A74
----------------------------------------------------------------------------------
Oppo                                             7         1         1         1

In [8]:
# list seluruh Kategori
listKategori = ["Y", "X", "V"]
# inisialisasi awal per produk
sumVivo = {}
for kat in listKategori:
    sumVivo[kat] = 0

# pencacahan data kategori per produk 
for data in dataSheet1["nama produk"]:
    # ambil kategori dari data kolom nama_produk
    kat = data[5:6] #membaca mulai digit 5 sampai digit 6
    if data[:4] == "Vivo": #membaca 4 digit, digit ke 1-4
        sumVivo[kat] += 1
        
# untuk tampilan output
print("Kategori/Series(Y Series|X Series|V Series)".ljust(45), end="")

for kat in listKategori:
    print(kat.rjust(10), end="")
print()
print("----------------------------------------------------------------------------------")
print("Vivo".ljust(45), end="")
for kat in listKategori:
    print(str(sumVivo[kat]).rjust(10), end="")

Kategori/Series(Y Series|X Series|V Series)           Y         X         V
----------------------------------------------------------------------------------
Vivo                                                  5         1         3

In [9]:
# list seluruh Kategori
listKategori = ["Nova", "Mate"]
# inisialisasi awal per produk
sumHuawei = {}
for kat in listKategori:
    sumHuawei[kat] = 0

# pencacahan data kategori per produk 
for data in dataSheet1["nama produk"]:
    # ambil kategori dari data kolom nama_produk
    kat = data[7:11] #membaca mulai digit 7 sampai digit 11
    if data[:6] == "Huawei": #membaca 6 digit, digit ke 1-6
        sumHuawei[kat] += 1
        
# untuk tampilan output
print("Kategori/Series(Nova|Mate)".ljust(40), end="")

for kat in listKategori:
    print(kat.rjust(10), end="")
print()
print("----------------------------------------------------------------------------------")
print("Huawei".ljust(40), end="")
for kat in listKategori:
    print(str(sumHuawei[kat]).rjust(10), end="")

Kategori/Series(Nova|Mate)                    Nova      Mate
----------------------------------------------------------------------------------
Huawei                                           1         1

In [10]:
# list seluruh Kategori
listKategori = ["C2", "8-", "GT"]
# inisialisasi awal per produk
sumRealme = {}
for kat in listKategori:
    sumRealme[kat] = 0

# pencacahan data kategori per produk 
for data in dataSheet1["nama produk"]:
    # ambil kategori dari data kolom nama_produk
    kat = data[7:9] #membaca mulai digit 7 sampai digit 9
    if data[:6] == "Realme": #membaca 6 digit, digit ke 1-6
        sumRealme[kat] += 1
        
# untuk tampilan output
print("Kategori/Series(C|8|GT)".ljust(40), end="")

for kat in listKategori:
    print(kat.rjust(10), end="")
print()
print("----------------------------------------------------------------------------------")
print("Realme".ljust(40), end="")
for kat in listKategori:
    print(str(sumRealme[kat]).rjust(10), end="")

Kategori/Series(C|8|GT)                         C2        8-        GT
----------------------------------------------------------------------------------
Realme                                           1         1         1